#unmute{
    display: none;
}
.muteBtn{
    width: 100px;
    /* position: absolute; */
}
.bkgd1{
    background-image: url("../Images/BKGDS/20252.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    z-index: -100;
    width: 250vw;
    height: 100vh;
    margin-left: -410px;
    margin-top: -10px;
}

.bkgd2{
    background-image: url("../Images/BKGDS/castle2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    z-index: -100;
    width: 200vw;
    height: 105vh;
    margin-left: -300px;
    margin-top: -50px;
    display: none;
    animation: bounce-in-top 1.1s both;
}

@keyframes slide-in-blurred-top {
    0% {
              transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
              transform-origin: 50% 0%;
              filter: blur(40px);
      opacity: 0;
    }
    100% {
              transform: translateY(0) scaleY(1) scaleX(1);
              transform-origin: 50% 50%;
              filter: blur(0);
      opacity: 1;
    }
  }
  
  

body{

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


@keyframes slide {
	from { background-position: 0 0; }
    to { background-position: 100% 0; }
}

.daKeysDiv{

}
.straight{
    text-align: left ;
    margin-left: 35%;
    
}
.straight2{
    text-align: left ;
    margin-left: 20%;
}
audio{
    width: 25%;
    position: absolute;
    margin-top: 50%;
    margin-left: 38%;;
    animation: fade-in 5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    

}

#title{
    position: absolute; 
    margin-left: 3%;
    margin-top: 3%;
    width: 90vw;
    animation: bounce-in-top 1.5s both;
}

@keyframes bounce-in-top {
    0% {
              transform: translateY(-500px);
              animation-timing-function: ease-in;
      opacity: 0;
    }
    38% {
              transform: translateY(0);
              animation-timing-function: ease-out;
      opacity: 1;
    }
    55% {
              transform: translateY(-65px);
              animation-timing-function: ease-in;
    }
    72% {
              transform: translateY(0);
              animation-timing-function: ease-out;
    }
    81% {
              transform: translateY(-28px);
    }
    90% {
              transform: translateY(0);
              animation-timing-function: ease-out;
    }
    95% {
              transform: translateY(-8px);
              animation-timing-function: ease-in;
    }
    100% {
              transform: translateY(0);
              animation-timing-function: ease-out;
    }
  }
  
#gameOver{
    width: 100%;
    margin-top: 60%;
    margin-left: -2.5%;
    position: absolute;
    z-index: 100;
    animation: blink 1s infinite;
    display: none;
}
@keyframes blink{
    50%{
        opacity: 0;
        
    }
}



#spriteReady1{
    width: 160%;
    margin-top: 67%;
    margin-left: 0%;
    position: fixed;
    z-index: -1;
display: none;
}

#spriteReady2{
    width: 160%;
    margin-top: 67%;
    margin-left: 16%;
    position: fixed;
    z-index: -1;
display: none;
}

#spriteReady3{
    width: 160%;
    margin-top: 67%;
    margin-left: 31%;
    position: fixed;
    z-index: -1;
display: none;
}

#spriteReady4{
    width: 160%;
    margin-top: 67%;
    margin-left: 47%;
    position: fixed;
    z-index: -1;
display: none;
}

#spriteReady5{
    width: 160%;
    margin-top: 67%;
    margin-left: 63%;
    position: fixed;
    z-index: -1;
display: none;
}

#spriteReady6{
    width: 160%;
    margin-top: 67%;
    margin-left: 0%;
    position: fixed;
    z-index: -1;
display: none;
}

#spriteReady7{
    width: 160%;
    margin-top: 67%;
    margin-left: 16%;
    position: fixed;
    z-index: -1;
display: none;
}

#spriteReady8{
    width: 160%;
    margin-top: 67%;
    margin-left: 31%;
    position: fixed;
    z-index: -1;
display: none;
}

#spriteReady9{
    width: 160%;
    margin-top: 67%;
    margin-left: 47%;
    position: fixed;
    z-index: -1;
display: none;
}

#spriteReady10{
    width: 160%;
    margin-top: 67%;
    margin-left: 63%;
    position: fixed;
    z-index: -1;
display: none;
}

#spriteRun{
    width: 35%;
    margin-top: 121%;
    margin-left: -20%;
    animation: slide-right 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

}


#spriteRun2{
    width: 35%;
    margin-top: 114%;
    margin-left: 0%;
    position: fixed;
    z-index: 1;
    animation: slide-right 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
display: none;
}

#spriteRun3{
    width: 35%;
    margin-top: 114%;
    margin-left: 14%;
    position: fixed;
    z-index: 1;
    animation: slide-right 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
display: none;
}

#spriteRun4{
    width: 35%;
    margin-top: 114%;
    margin-left: 31%;
    position: fixed;
    z-index: 1;
    animation: slide-right 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
display: none;
}

#spriteRun5{
    width: 35%;
    margin-top: 114%;
    margin-left: 47%;
    position: fixed;
    z-index: 1;
    animation: slide-right 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
display: none;
}

#spriteRun6{
    width: 35%;
    margin-top: 114%;
    margin-left: -20%;
    position: fixed;
    z-index: 1;
    animation: slide-right 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    display: none;

}


#spriteRun7{
    width: 35%;
    margin-top: 114%;
    margin-left: 0%;
    position: fixed;
    z-index: 1;
    animation: slide-right 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
display: none;
}

#spriteRun8{
    width: 35%;
    margin-top: 114%;
    margin-left: 14%;
    position: fixed;
    z-index: 1;
    animation: slide-right 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
display: none;
}

#spriteRun9{
    width: 35%;
    margin-top: 114%;
    margin-left: 31%;
    position: fixed;
    z-index: 1;
    animation: slide-right 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
display: none;
}

#spriteRun10{
    width: 35%;
    margin-top: 114%;
    margin-left: 47%;
    position: fixed;
    z-index: 1;
    animation: slide-right 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
display: none;
}

#spriteWon{
    width: 92%;
    margin-top: 35%;
    position: fixed;
    z-index: 1;
    display: none;
}

#spriteLose{
    width: 95%;
    margin-top: 45%;
    position: fixed;
    z-index: 10;
    display: none;
}

@keyframes slide-right {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(30px);
    }
  }

#djk{
    width: 60%;
margin-left: 80%;
margin-top: 85%;
animation: slide-left 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
position: fixed;
z-index: -2;

}


#djk2{
    width: 60%;
margin-left: 80%;
margin-top: 85%;
animation: slide-left 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
position: fixed;
z-index: -2;
display: none;
}

@keyframes slide-left {
    0% {
   
              transform: translateX(0);
    }
    100% {
              transform: translateX(-100px);
    }
  }

  

form{
    display: flex;
    flex-direction: column;
}
input{
position: relative;
margin-top: 5%;
border-radius: 5px;
font-size: 15px;
text-align: center;
background-color: rgb(221, 195, 122);
}
.answer.correct{
    display: none;
    text-align: center;
    width: 90vw;
}
.links2{
    display: none;
    color: white;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    z-index: 1000;
    position: absolute;
    margin-left: 33%;
    margin-top: 55%;
    background-image: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
    radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);     
    border: 2px inset #D1B464;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    }
    a:hover, .links2:hover {
        color: rgb(226, 186, 73);
    }

    a{
        text-shadow: 1px 1px 1px black;
        text-decoration: none;
        color: rgb(255, 255, 255);
    }
    
/* submit button */
button{
    width: 50%;
    border-radius: 10px;
    font-size: 15px;
    border: 2px inset rgb(209, 180, 100);
     background-color: rgba(209, 180, 100, 0.521);
     color: rgb(0, 0, 0);
     text-shadow: 1px 1px 1px rgb(255, 255, 255);
     box-shadow: 1px 1px 1px black;
     margin: 5px;
     
}


.next{
    display: none;
}
/* button questions */
.buttonQ{
    border-radius: 10px;
    border: 2px inset rgb(209, 180, 100);
    /* color: rgb(0, 0, 0);
    text-shadow: 1px 1px 1px rgb(250, 250, 250); */
    font-size: 15px;
    text-align: center;
    font-family:arial, helvetica, sans-serif; 
    padding: 10px; 
    display: block;
    background-color: rgba(209, 180, 100, 0.9);

 
    }



#rulesButton{
            margin-top: 35%;
            margin-left: 6.5%;
            width: 18%;
            height: 3%;    
            display: block;     
}
#rulesButton:hover{
    text-shadow: 1px 1px 10px rgb(250, 250, 250);

}

#q1, #q2, #q3, #q4, #q5, #q6, #q7, #q8, #q9, #q10{
    display: none;
}
/* one of those buttons that cant be deleted all will throw everything off even tho it doesnt exist in my html */
.button{
    border: 10px inset #D1B464;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
    font-size: 30px;
    text-align: center;
    font-family:arial, helvetica, sans-serif; 
    padding: 10px 10px 10px 10px; 
    text-decoration:none; 
    display:inline-block;
    /* text-shadow: -1px -1px 0 rgba(0,0,0,0.3); */
    background-image: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
    radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);     
    height: 35px;
     width: 35px;
     box-shadow: 1px 1px 1px black;
     
    }

    .buttonBox{
        display: block;
        justify-content: center;
        padding: 10px;
        width: 101vw;
        margin-top: 41%;
        margin-left: -5%;
        position: fixed;
        z-index: 1;
        /* animation: fade-in 10s cubic-bezier(0.390, 0.575, 0.565, 1.000) both; */


    }
   

    .optButton{
        border: 2px inset #D1B464;
        border-radius: 10px;
        font-size: calc(.6em + 1vw) ;
        text-align: center;
        justify-content: center;        
        color: rgb(255, 255, 255);
        text-shadow: 2px 2px 2px rgb(0, 0, 0);
        font-family:arial, helvetica, sans-serif; 
        text-decoration:none; 
         background-image: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
         radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);         
         height: 75px;
         width: 95px;
         box-shadow: 2px 2px 12px black;
         position: fixed;
         animation: fade-in 5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
         z-index: 1;
         

        } 



i{
    color: rgb(63, 205, 63);
    font-size: 30px;
    text-shadow: 2px 2px 12px black;
    padding: 5px;
}
i:hover{
    text-shadow: 2px 2px 8px rgb(155, 255, 149);
/* color: rgb(89, 255, 17); */
}
        #start{
            margin-top: 40%;
            margin-left: 35%;
            width: 5rem;
            height: 4rem;         
	        animation: heartbeat 2.5s ease-in-out infinite both;
            border-radius: 100px;
            padding: 20px 3px 0px 3px;
            font-size: 15px;
            text-shadow: 2px 2px 2px black;
            position: absolute;
         }
         #start:hover{
            animation-play-state: paused;
            text-shadow: 1px 1px 10px rgb(250, 250, 250);

        }

         #round2{
            margin-top: 40%;
            margin-left: 35%;
            width: 5rem;
            height: 4rem;         
	        animation: heartbeat 2.5s ease-in-out infinite both;
            border-radius: 100px;
            padding: 20px 3px 0px 3px;
            font-size: 15px;
            text-shadow: 2px 2px 2px black;
            position: absolute;
            display: none;
            
         }
         #round2:hover{
            animation-play-state: paused;
            text-shadow: 1px 1px 10px rgb(250, 250, 250);

        }

        #restart{
            margin-top: 30%;
            margin-left: 35%;
            width: 5rem;
            height: 4rem;         
	        animation: heartbeat 2.5s ease-in-out infinite both;
            border-radius: 100px;
            padding: 20px 3px 0px 3px;
            font-size: 15px;
            text-shadow: 2px 2px 2px black;
            position: absolute;
            z-index: 1000;
            display: none;
            
         }
         #restart:hover{
            animation-play-state: paused;
            text-shadow: 1px 1px 10px rgb(250, 250, 250);

        }
         @keyframes heartbeat {
            from {
                transform: scale(1);
                transform-origin: center center;
                animation-timing-function: ease-out;
            }
            10% {
                transform: scale(0.91);
                animation-timing-function: ease-in;
            }
            17% {
                transform: scale(0.98);          
                animation-timing-function: ease-out;
            }
            33% {
                transform: scale(0.87);
                animation-timing-function: ease-in;
            }
            45% {
                transform: scale(1);
              
                animation-timing-function: ease-out;
            }
          }

         @keyframes bounce{
             0%{
               
             }
             50%{
               transform: translate(0, 8px);
             }
         
           }

        @keyframes fade-in {
            0% {
              opacity: 0;
            }
            100% {
              opacity: 1;
            }
          }
    
        #lifeCountID{
            margin-top: 20%;
            margin-left: 5%;
            width: calc(7em + 1vw);
            height: calc(2.5em + 1vh);
        }
     

    #scoreBox{
        margin-top: 20%;
        margin-left: 75%;
        background-repeat: no-repeat;
        position: fixed;
        z-index: 1;
        width: calc(4em + 1vw);
        height: calc(2em + 1vh);

    }

    #hint{
        margin-top: 20%;
        margin-left: 15%;
        z-index: 1;
        width: 5%;
        height: 3%;

    }
    
li{
    list-style: none;
    display: inline-block;
    padding: 10px;
    font-size: 70px;
    
}

.keyImg {
  background-image: url(../Images/ScoreKey.png);
}

#confetti{
    position: fixed;
    z-index: 10;
    width: 110vh;
    height: 100vh;
    display: none;
}

.swal-text{
    font-size: 20px;
    text-align: center;
}
.swal-modal{
    width: 100vw;
    margin-top: 1%;;
    border: 5px inset #D1B464;
    border-radius: 10px;
    box-shadow: 2px 2px 2px black;
    background-image: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
    radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);    
}

.swal-button--confirm{
    display: none;
}
.swal-button{
    font-size: 30px;
    width: 20vw;
    border-radius: 15px;
    background-color: #D1B464;
    border: 5px inset #D1B464;
    color: white;
    text-shadow: 2px 2px 10px black;
}

/* iPhoneX */
@media only screen and (width: 375px) and (height: 812px) {

    .bkgd2{
        margin-left: -450px;
    }
.bkgd1{
    margin-left: -500px;
}
.buttonBox{
    margin-top: 60%;
}
.buttonQ, input{
    font-size: 20px;
}
    #spriteWon{
        margin-top: 70%;
    }
    #spriteLose{
        margin-top: 80%;
    }

    #djk{
    margin-top: 130%;

    }

    #djk2{
        margin-top: 130%;
    
        }

    #spriteReady1, #spriteReady2, #spriteReady3, #spriteReady4, #spriteReady5, #spriteReady6, #spriteReady7, #spriteReady8, #spriteReady9, #spriteReady10 {
        margin-top: 107%;

    }
    
    
    #spriteRun{
        margin-top: 161%;
    }
    
    
    #spriteRun2, #spriteRun3, #spriteRun4, #spriteRun5, #spriteRun6, #spriteRun7, #spriteRun8, #spriteRun9, #spriteRun10 {
        margin-top: 154%;

    }  

}
/* ipad/tablets */
@media only screen and (min-width: 768px) and (max-width: 1025px) {
    .buttonBox {
     margin-left: -3%;
     margin-top: 40%;
    }
#rulesButton{
    margin-top: 34.5%;
}
#lifeCountID{
    margin-left: 10%;
}
#scoreBox{
    margin-left: 70%;
}

.swal-text{
font-size: 30px;
}

.optButton{
    font-size: 25px;
}
   .buttonQ, input, button{
 font-size: 25px;
    }
    .bkgd2{
        margin-left: -450px;
    }

    #start, #round2{
        margin-top: 40%;
        margin-left: 40%;
        width: 7rem;
        height: 6rem; 
        font-size: 25px;
        padding-top: 25px

    }
    i{
        font-size: 45px;
    }


    #spriteWon{
        margin-top: 20%;
        margin-left: 15%;
        width: 75%;
    }
    #spriteLose{
        margin-top: 30%;
        margin-left: 15%;
        width: 75%;
    }

    #djk{
    margin-top: 60%;
    margin-left: 65%;

    }
    #djk2{
        margin-top: 60%;
        margin-left: 65%;
    
        }
    #spriteReady1, #spriteReady2, #spriteReady3, #spriteReady4, #spriteReady5, #spriteReady6, #spriteReady7, #spriteReady8, #spriteReady9, #spriteReady10 {
        margin-top: 40%;

    }
    
    
    #spriteRun{
        margin-top: 89%;
        margin-left: -10%;

    }
    
    
    #spriteRun2, #spriteRun3, #spriteRun4, #spriteRun5, #spriteRun6, #spriteRun7, #spriteRun8, #spriteRun9, #spriteRun10 {
        margin-top: 87%;
    }
    
   
    }

/* ipadPro */
    @media only screen and (width: 1024px) and (height: 1366px) {

    .buttonBox{
        padding: 10px 20px 10px 20px;
    }

    .optButton{
        font-size: 35px;
    }

    .buttonQ, input, button{
        font-size: 40px;
    }

    .swal-text{
        font-size: 40px;
        }

    #start, #round2{
        margin-top: 40%;
        margin-left: 40%;
        width: 9rem;
        height: 7rem; 
        font-size: 30px;
        padding-top: 35px

    }
    i{
        font-size: 55px;
    }
   
    }
